{% extends "base_crud/base_list.html" %}
{% load column_sort %}

{% block crud_columns %}
    {% create_header_column 'patient' 'Paciente' %}
    {% create_header_column 'scheme' 'Esquema' %}
    {% create_header_column 'height' 'Talla' %}
    {% create_header_column 'weight' 'Peso' %}
    {% create_header_column 'body_surface' 'Superficie corporal' %}
    {% create_header_column 'cycles' 'Ciclos' %}
    {% create_header_column 'suspended' 'Suspendido' %}
{% endblock crud_columns %}

{% block table_body %}
    {% for obj in page_obj %}
        <tr>
            <td><a href="{% url "patient:patient_detail" obj.patient.pk %}?return_to=chemotherapy:protocol_list&{{ url_lookup }}" class="text-dark text-decoration-none" title="Detalles" data-toggle="tooltip">{{ obj.patient }}</a></td>
            <td>{{ obj.scheme }}</td>
            <td>{{ obj.height }}</td>
            <td>{{ obj.weight }}</td>
            <td>{{ obj.body_surface }}</td>
            <td>{{ obj.cycles }}</td>
            <td>{{ obj.suspended|yesno:"Sí,No" }}</td>
            <td>
                <a href="{% url detail_url obj.pk %}" class="view" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-eye"></i></a>
                <a href="{% url edit_url obj.pk %}" class="edit" title="Editar" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url delete_url obj.pk %}" class="delete" title="Eliminar" data-toggle="tooltip"><i class="fa-solid fa-trash-can"></i></a>
              </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
