SECRET_KEY=qov#ce&bl3z8@ymehv1byt^beru%el-0wjo%e#1q8#og6331ik
DJANGO_SETTINGS_MODULE="config.settings.production"
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB=sigipo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MARIA_DB_NAME=maria
MARIA_DB_HOST=localhost
MARIA_DB_PORT=3306
MARIA_DB_USER=maria
MARIA_DB_PASSWORD=maria

EMAIL_HOST=EMAIL_HOST
EMAIL_PASSWORD=EMAIL_PASSWORD
EMAIL_USER=EMAIL_USER
EMAIL_PORT=EMAIL_PORT
DEFAULT_FROM_EMAIL = DEFAULT_FROM_EMAIL
