default_language_version:
  python: python3.10

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/dhruvmanila/remove-print-statements
  rev: v0.4.0
  hooks:
  - id: remove-print-statements
    args: [--dry-run, --verbose]
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v2.6.2
  hooks:
    - id: prettier
      files: internal
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v8.14.0
  hooks:
  - id: eslint
    args:
    - --config=package.json
    - --fix
    additional_dependencies:
    - eslint@8.12.0
- repo: https://github.com/Riverside-Healthcare/djLint
  rev: v1.1.1
  hooks:
    - id: djlint-django
- repo: https://github.com/thibaudcolas/curlylint
  rev: v0.13.1
  hooks:
  - id: curlylint
    types: [html]
- repo: https://github.com/asottile/pyupgrade
  rev: v2.32.1
  hooks:
  - id: pyupgrade
    args: [--py310-plus]
- repo: https://github.com/hakancelik96/unimport
  rev: 0.9.6
  hooks:
  - id: unimport
    args:
      [--remove,  --include-star-import, --ignore-init, --gitignore]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-no-pep420
    - flake8-tidy-imports
