<div class="dropdown position-fixed top-7 end-0 bd-mode-toggle">
  <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center bg-gradient-primary text-white" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
    <i class="active-color-mode fa-solid fa-sun text-white"></i>
    <span class="visually-hidden" id="bd-theme-text">Cambiar Tema</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true" accesskey="l">
        <i class="fa-solid fa-sun"></i>&nbsp;Light
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false" accesskey="d">
        <i class="fa-solid fa-moon"></i>&nbsp;Dark
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false" accesskey="a">
        <i class="fa-solid fa-circle-half-stroke"></i>&nbsp;Auto
      </button>
    </li>
  </ul>
</div>
