{% load static i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/png" href="{% static 'images/ribbon.png' %}"/>
    <title>
      {% block title %}
        SiGiPO
      {% endblock title %}
    </title>
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/external/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/internal/main-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/external/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/external/select2.min.css' %}"/>
    {% block styles %}
    {% endblock styles %}
    <!-- Scripts -->
    <script src="{% static 'js/external/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/external/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/external/select2.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
      <div class="container-fluid">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">SiGiPO</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'dashboard:dashboard' %}"><i class="fa-solid fa-house"></i> Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="cancerRegister"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                 <i class="fa-solid fa-square-poll-horizontal"></i> Registro de Cáncer
              </a>
              <ul class="dropdown-menu" aria-labelledby="cancerRegister">
                <li>
                  <a class="dropdown-item" href="{% url 'patient:oncologic_list' %}"><i class="fa-solid fa-hospital-user"></i> Paciente</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'cancer_registry:neoplasm_list' %}"><i class="fa-solid fa-ribbon"></i> Neoplasias</a>
                </li>
                <li>
                  <label class="dropdown-item"><i class="fa-solid fa-square-poll-horizontal"></i> Clasificaciones <i class="fa-solid fa-angle-right"></i></label>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li>
                      <a class="dropdown-item" href="{% url 'classifiers:topography_list' %}">Topografías</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'classifiers:morphology_list' %}">Morfologías</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class="dropdown-item"><i class="fa-solid fa-earth-americas"></i> Ubicaci&oacute;n geogr&aacute;fica <i class="fa-solid fa-angle-right"></i></label>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li>
                      <a class="dropdown-item" href="{% url 'geographic_location:province_list' %}">Provincia</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'geographic_location:municipality_list' %}">Municipio</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="nuclearMedicine"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                 <i class="fa-solid fa-radiation"></i> Medicina Nuclear
              </a>
              <ul class="dropdown-menu" aria-labelledby="nuclearMedicine">
                <li>
                  <a class="dropdown-item" href="{% url 'patient:patient_list' %}"><i class="fa-solid fa-hospital-user"></i> Paciente</a>
                </li>
                <li>
                  <label class="dropdown-item"><i class="fa-solid fa-flask-vial"></i> RIA-IRMA <i class="fa-solid fa-angle-right"></i></label>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><h6 class="dropdown-header">Estudios</h6></li>
                    <li>
                      <a class="dropdown-item" href="{% url 'nuclear_medicine:oncologic_study_list' %}">Estudio oncológico</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'nuclear_medicine:hormonal_study_list' %}">Estudio hormonal</a>
                    </li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><h6 class="dropdown-header">Resultados</h6></li>
                    <li>
                      <a class="dropdown-item" href="{% url 'nuclear_medicine:oncologic_result_list' %}">Resultado oncológico</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'nuclear_medicine:hormonal_result_list' %}">Resultado hormonal</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class="dropdown-item"><i class="fa-solid fa-vial-circle-check"></i> Detecci&oacute;n de yodo <i class="fa-solid fa-angle-right"></i></label>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li>
                      <a class="dropdown-item" href="{% url 'nuclear_medicine:serial_iodine_detection_list' %}">Seriada</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'nuclear_medicine:iodine_detection_list' %}">No seriada</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'nuclear_medicine:gammagraphy_list' %}"><i class="fa-solid fa-circle-radiation"></i> Gammagraf&iacute;a</a>
                </li>
                <li>
                  <label class="dropdown-item"><i class="fa-solid fa-square-poll-horizontal"></i> Par&aacute;metros <i class="fa-solid fa-angle-right"></i></label>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li>
                      <a class="dropdown-item" href="{% url 'classifiers:study_list' %}">Estudios</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'classifiers:radioisotope_list' %}">Radio isótopos</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="drugs"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                 <i class="fa-solid fa-capsules"></i> Drogas
              </a>
              <ul class="dropdown-menu" aria-labelledby="drugs">
                <li>
                  <a class="dropdown-item" href="{% url 'drugs:drug_list' %}"><i class="fa-solid fa-tablets"></i> F&aacute;rmaco</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="employee"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                 <i class="fa-solid fa-hospital"></i> Hospital
              </a>
              <ul class="dropdown-menu" aria-labelledby="employee">
                <li>
                  <a class="dropdown-item" href="{% url 'employee:group_list' %}"><i class="fa-solid fa-people-group"></i> Grupos de trabajo</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'employee:doctor_list' %}"><i class="fa-solid fa-user-doctor"></i> Doctores</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-2">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="geographicLocatioDropDownn"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                   <i class="fa-solid fa-user"></i> {{ request.user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="geographicLocationDropDown">
                  <li>
                    <a class="dropdown-item" href="{% url 'admin:logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
    {% block endloads %}
    {% endblock endloads %}
  </body>
</html>
