{% extends "base_crud/base_list.html" %}
{% load column_sort %}
{% block crud_columns %}
    {% create_header_column 'identity_card' 'Carnet de identidad' %}
    {% create_header_column 'first_name' 'Nombre' %}
    {% create_header_column 'last_name' 'Apellidos' %}
    {% create_header_column 'medical_record' 'No. Historia Clínica' %}
{% endblock crud_columns %}

{% block table_body %}
    {% for obj in page_obj %}
        <tr>
            <td>{{ obj.patient.identity_card }}</td>
            <td>{{ obj.patient.first_name }}</td>
            <td>{{ obj.patient.last_name }}</td>
            <td>{{ obj.patient.medical_record }}</td>
            <td>
                <a href="{% url detail_url obj.pk %}" class="view" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-eye"></i></a>
                <a href="{% url edit_url obj.pk %}" class="edit" title="Editar" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url delete_url obj.pk %}" class="delete" title="Eliminar" data-toggle="tooltip"><i class="fa-solid fa-trash-can"></i></a>
              </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
