{% extends "base_crud/base_list.html" %}
{% load column_sort %}

{% block crud_columns %}
    {% create_header_column 'patient' 'Paciente' %}
    {% create_header_column 'sample_number' 'Número de muestra' %}
    {% create_header_column 'created_at' 'Fecha' %}
    {% create_header_column 'tests' 'Pruebas' %}
{% endblock crud_columns %}

{% block table_body %}
    {% for obj in page_obj %}
        <tr>
            <td><a href="{% url "patient:patient_detail" obj.patient.pk %}?return_to=nuclear_medicine:hormonal_study_list&{{ url_lookup }}" class="text-dark text-decoration-none" title="Detalles" data-toggle="tooltip">{{ obj.patient }}</a></td>
            <td>{{ obj.sample_number }}</td>
            <td>{{ obj.created_at }}</td>
            <td>{{ obj.tests }}</td>
            <td>
                <a href="{% url detail_url obj.pk %}" class="view" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-eye"></i></a>
                <a href="{% url edit_url obj.pk %}" class="edit" title="Editar" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url delete_url obj.pk %}" class="delete" title="Eliminar" data-toggle="tooltip"><i class="fa-solid fa-trash-can"></i></a>
              </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
