{% extends "base_crud/base_list.html" %}
{% load column_sort %}

{% block crud_columns %}
    {% create_header_column 'patient' 'Paciente' %}
    {% create_header_column 'created_at' 'Fecha' %}
    {% create_header_column 'drug' 'Fármaco' %}
    {% create_header_column 'radio_isotope' 'Radio isótopo' %}
    {% create_header_column 'requested_study__name' 'Estudios' %}
    {% create_header_column 'dose' 'Dosis' %}
{% endblock crud_columns %}

{% block table_body %}
    {% for obj in page_obj %}
        <tr>
            <td>{{ obj.patient }}<a href="{% url "patient:patient_detail" obj.patient.pk %}?return_to=nuclear_medicine:iodine_detection_list&{{ url_lookup }}" class="text-dark text-decoration-none" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-up-right-from-square object-link"></i></a></td>
            <td>{{ obj.created_at }}</td>
            <td>{{ obj.drug }}<a href="{% url "drugs:drug_detail" obj.drug.pk %}?return_to=nuclear_medicine:gammagraphy_list&{{ url_lookup }}" class="text-dark text-decoration-none" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-up-right-from-square object-link"></i></a></td>
            <td>{{ obj.radio_isotope }}<a href="{% url "classifiers:radioisotope_detail" obj.radio_isotope.pk %}?return_to=nuclear_medicine:gammagraphy_list&{{ url_lookup }}" class="text-dark text-decoration-none" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-up-right-from-square object-link"></i></a></td>
            <td>
                {% for study in obj.requested_study.all %}
                    <a href="{% url "classifiers:study_detail" study.pk %}?return_to=nuclear_medicine:gammagraphy_list&{{ url_lookup }}" class="text-dark text-decoration-none" title="Detalles" data-toggle="tooltip">{{ study }}</a>{% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
            </td>
            <td>{{ obj.dose }}</td>
            <td>
                <a href="{% url detail_url obj.pk %}" class="view" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-eye"></i></a>
                <a href="{% url edit_url obj.pk %}" class="edit" title="Editar" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url delete_url obj.pk %}" class="delete" title="Eliminar" data-toggle="tooltip"><i class="fa-solid fa-trash-can"></i></a>
              </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
