{% extends "base_crud/base_update.html" %}

{% load static i18n l10n form_customization %}

{% block form_customization %}
  {% if forloop.counter0 == 19 %}
    {% close_div %}
    <hr/>
    <h5 class="text-center"><strong>SOLO PARA TUMORES DEL SISTEMA HEMATOPOYÉTICO Y DEL RETÍCULO ENDOTELIAL</strong></h5>
    <hr/>
  {% endif %}
  {% if forloop.counter0 == 26 %}
    {% close_div %}
    <hr/>
  {% endif %}
  {% if forloop.counter0 >= 26 and forloop.counter0|divisibleby:2 or forloop.counter0 < 19 and forloop.counter0|divisibleby:2 or forloop.counter0 >= 19 and forloop.counter0 < 26 and forloop.counter|divisibleby:2 %}
      {% create_div_row %}
        <div class="col">
          {{ block.super }}
        </div>
    {% if forloop.last %}{% close_div %}{% endif %}
  {% else %}
    <div class="col">
      {{ block.super }}
    </div>
    {% close_div %}
  {% endif %}
{% endblock form_customization %}

{% block endloads %}
{{ block.super }}
<script src="{% static 'js/internal/pregnant-hide-field.js' %}"></script>
{% endblock endloads %}
