{% load static %}

<div class="row">
  <div class="col">
    {% include "django/forms/widgets/select.html" %}
  </div>
  {% if add_perm or view_perm %}
    <div class="col-auto d-flex align-items-center related-model-container">
      {% if add_perm %}
        <a href="{{ add_url }}" class="related-model-add" role="button" title="A&ntilde;adir" data-toggle="tooltip"><i class="fa-solid fa-plus"></i></a>
      {% endif %}
      {% if view_perm %}
        <a href="#" data-href="{{ view_url }}" class="related-model-view hidden" role="button" title="Detalles" data-toggle="tooltip"><i class="fa-solid fa-eye"></i></a>
      {% endif %}
    </div>
  {% endif %}
</div>
