{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/internal/forms.css' %}"/>
<link rel="stylesheet" href="{% static 'css/external/select2-bootstrap5.min.css' %}"/>
{% endblock styles %}

{% block content %}
<div class="container">
  {% if confirmation %}
    <form method="post">
      {% csrf_token %}
      <div class="card card-container">
        <div class="card-header">
          <h3 class="card-title">Cambiar denominación</h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <h5>¿Está seguro que desea hacer a "{{ object }}" un paciente {% if object.is_oncologic %}no {% endif %}oncológico?</h5>
        </div>
        <div class="card-footer text-muted">
            <div class="action-buttons">
              <button type="submit" class="btn btn-info"><i class="fa-solid fa-rotate"></i> Cambiar denominación</button>
              <a href="{% url 'patient:oncologic_change_status' %}" role="button" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i> Cancelar</a>
            </div>
        </div>
      </div>
    </form>
  {% else %}
    <form method="get">
      <div class="card card-container">
          <div class="card-header">
              <h3 class="card-title">Cambiar denominación</h3>
          </div>
          <div class="card-body">
            {% if not object or object == True %}
              {% for field in filter.visible_fields %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
              {% endfor %}
              {% if object == True %}
                <p class="text-center fs-3 fc-dark-red"><i class="fa-solid fa-circle-exclamation"></i> No hay datos registrados.</p>
              {% endif %}
            {% else %}
              {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
              {% endfor %}
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            <div class="action-buttons">
                {% if not object or object == True %}
                  <button type="submit" class="btn btn-warning"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                  <a href="{% url 'patient:oncologic_list' %}" role="button" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i> Cancelar</a>
                {% else %}
                  <a href="{% url 'patient:oncologic_change_status_confirmation' object.pk %}" class="btn btn-info"><i class="fa-solid fa-rotate"></i> Cambiar denominación</a>
                  <a href="{% url 'patient:oncologic_change_status' %}" role="button" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i> Cancelar</a>
                {% endif %}
            </div>
          </div>
      </div>
    </form>
  {% endif %}
</div>
{% endblock content %}
