{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/internal/forms.css' %}"/>
<link rel="stylesheet" href="{% static 'css/external/select2-bootstrap4.min.css' %}"/>
{% endblock styles %}

{% block content %}
<div class="container">
    <form method="get">
        <div class="card card-container">
            <div class="card-header">
                <h3 class="card-title">Cambiar denominación</h3>
            </div>
            <div class="card-body">
              {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
              {% endfor %}
            </div>
            <div class="card-footer text-muted">
              <div class="action-buttons">
                {% block action-buttons %}
                  <button type="submit" class="btn btn-warning"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                  <a href="{% url 'patient:oncologic_list' %}" role="button" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i> Cancelar</a>
                {% endblock action-buttons %}
              </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block endloads %}
<script src="{% static 'js/external/es.min.js' %}"></script>
{{ form.media.css }}
{{ form.media.js }}
{% endblock endloads %}
