{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/internal/base-crud.css' %}"/>
<script src="{% static 'js/internal/toast.js' %}"></script>
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="card card-container">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4>Filtro(s):</h4>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                            Mostrar/Ocultar
                          </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="collapseFilters">
                <div class="card-body">
                    {% block table_filters %}
                        <form method="get" class="row">
                            {% block model_filters %}
                                {% for field in filter.form.visible_fields %}
                                    <div class="col">{{ field }}</div>
                                {% endfor %}
                            {% endblock model_filters %}
                            <div class="col-auto">
                                <button type="submit" class="btn btn-info mb-3"><i class="fa-solid fa-filter"></i> Filtrar</button>
                            </div>
                            <div class="col-auto">
                                <a href="?" class="btn btn-warning mb-3"><i class="fa-solid fa-ban"></i> Quitar filtros</a>
                            </div>
                        </form>
                    {% endblock table_filters %}
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="{% url add_url %}" class="btn btn-success" role="button"><i class="fa-solid fa-plus"></i> Añadir {{ crud_instance_name }}</a>
            </div>
        </div>
        <hr/>
        <h1>{{ crud_name }}</h1>
        {% if page_obj %}
            <div class="table-responsive">
                <div class="table-wrapper">
                    {% block table %}
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    {% block table_columns %}
                                        {% block crud_columns %}
                                        {% endblock crud_columns %}
                                        <th class="text-center">Acciones</th>
                                    {% endblock table_columns %}
                                </tr>
                            </thead>
                            <tbody>
                                {% block table_body %}{% endblock table_body %}
                            </tbody>
                        </table>
                    {% endblock table %}
                    <div class="clearfix">
                        <div class="hint-text">
                            P&aacute;gina <b>{{ page_obj.number }}</b> de <b>{{ page_obj.paginator.num_pages }}</b>
                        </div>
                        <ul class="pagination">
                            <li class="page-item {% if page_obj.number == 1 %}disabled{% endif %}"><a title="Primera p&aacute;gina" class="page-link" href="?page=1&{{ parameters }}"><i class="fa fa-angle-double-left"></i></a></li>
                            {% for page_number in pagination_range %}
                                <li class="page-item {% if page_number == page_obj.number %}active{% endif %}"><a title="P&aacute;gina {{ page_number }}" href="?page={{ page_number }}&{{ parameters }}" class="page-link">{{ page_number }}</a></li>
                            {% endfor %}
                            <li class="page-item {% if page_obj.number == paginator.num_pages %}disabled{% endif %}"><a title="&Uacute;ltima p&aacute;gina" href="?page={{ paginator.num_pages }}&{{ parameters }}" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center fs-1 fc-dark-red"><i class="fa-solid fa-circle-exclamation"></i> No hay datos registrados.</p>
        {% endif %}
    </div>

    {% if messages %}
        <div class="position-fixed bottom-0 end-0 p-3 z-index-top">
            <div class="toast-container">
                {% for message in messages %}
                    <div class="toast hide auto-show-toast {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}bg-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}bg-success{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}bg.warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}bg-info{% else %}bg-secondary{% endif %}" role="alert" aria-live="polite" aria-atomic="true" data-bs-autohide="true">
                        <div class="toast-header">
                        <strong class="me-auto">Sigipo</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock content %}
