{% extends "registration/base.html" %}

{% load static i18n %}

{% block content %}
<div class="col-xl-10">
  <div class="card rounded-3 text-black">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="card-body p-md-2 mx-md-4">

          <div class="text-center m-2">
            <img class="logo-img" height="96" width="96" src="{% static 'images/ribbon.png' %}" alt="logo"/>
            <h4 class="mt-1 mb-5 pb-1">Sistema Informático Integral de gestión del paciente Oncológico</h4>

            {% if form.errors %}
                <div class="alert alert-danger">
                  Usuario o contraseña incorrectos.
                </div>
            {% endif %}
          </div>

          <form method="post">
            <p>Autentifiquese por favor</p>
            {% csrf_token %}
            <div class="form-floating mb-4">
              <input type="user" id="id_username" class="form-control" name="username" placeholder="Usuario" required autocomplete="user-name"/>
              <label class="form-label" for="id_username">Usuario</label>
            </div>

            <div class="form-floating mb-4">
              <input type="password" id="id_password" class="form-control" placeholder="Contraseña" required name="password" autocomplete="current-password"/>
              <label class="form-label" for="id_password">Contraseña</label>
            </div>

            <div class="text-center pt-1 pb-1">
              <button class="btn btn-text-white gradient-custom-2 mb-3" type="submit">Ingresar</button>
            </div>
            <div class="text-center mb-5 ">
              <a class="text-muted" href="{% url 'password_reset' %}">¿Olvido su contraseña?</a>
            </div>
            <div class="d-flex align-items-center justify-content-center pb-4">
              <p class="mb-0 me-2">¿No tiene una cuenta?</p>
              <button type="button" class="btn btn-outline-secondary">Crear cuenta</button>
            </div>
          </form>

        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4">Somos más que un sistema</h4>
          <p class="small mb-0">Facilitamos el registro y control de los pacientes oncológicos, aligeramos su carga, ofreciendo así una mejor atención, calidad de servicio.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
