# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: pre-commit

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    pre-commit:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
              with:
                  ref: ${{ github.head_ref }}

            - uses: actions/setup-python@v4
              with:
                  python-version: '3.11'

            - uses: pre-commit/action@v3.0.0
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Push changes
              if: success() || failure()
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: pre-commit-fix
